<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Blocitoff is a resource for sharing links with your friends!</p>
  <p>

  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Solves world hunger</h2>
    <p>Blocipedia will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-6">
    <h2>Eliminates poverty</h2>
    <p>Blocipedia will deliver money and education to those in need, all over the world.</p>
  </div>
</div>
