<%= form_for [current_user, @item] do |i| %>
  <div class="form-group">
    <%= i.label :name %>
    <%= i.text_field :name, class: "form-control", placeholder: "Task name..." %>
    <%= i.submit %>
  </div>
<% end %>
